<%- contentFor('list') %>
<div class="card">
    <div class="card-header">
        <h3 class="card-title">List User</h3>
    </div>
    <!-- /.card-header -->
    <div class="card-body p-0">
        <table class="table table-striped">
            <thead>
            <tr>
                <th style="width: 10px">#</th>
                <th>Name</th>
                <th>Email</th>
                <th>Role</th>
                <th>Status</th>
                <th>Action</th>
            </tr>
            </thead>
            <tbody>
            <% users.forEach((user) => {%>
            <tr>
                <td><%- user.id %></td>
                <td><%- user.name %></td>
                <td><%- user.email %></td>
                <td><%- user.role %></td>
                <td><%- user.status %></td>
                <td>
                    <button type="button" class="btn btn-info" data-toggle="modal" data-target="#modal-sm"><i class="fas fa-edit"></i></button>
                    <button type="button" class="btn btn-danger"  data-target="#modal-del" onclick=""><i class="fas fa-trash-alt"></i></button>
                </td>
            </tr>
            <%})%>
            </tbody>
        </table>
    </div>
    <!-- /.card-body -->
</div>